[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
groq = "*"
python-dotenv = "*"
langchain-core = "*"
langgraph = ">0.2.27"
langchain-groq = "*"

[dev-packages]

[requires]
python_version = "3.12"
